ul.horizontal-list {
  list-style-type: none;
  padding: 0;
}

.total-artist-margin{
  margin-left: 53px;
  margin-right: -50px;
}

.margin-left-title{
  margin-left: 16px;
}

.margin-button{
  margin-left: 40px;
}

ul.horizontal-list li {
  display: inline-block;
  margin-right: 3px;
}

.horizontal-list li:not(:last-child)::after {
  content: " - ";
}

.margin-to-title{
  margin-left: -30px;
}

.artist-image-favorites {
  background-color: rgba(222, 222, 222, 0.3);
  margin-right: 35px;
  margin-left: 50px;
  height: 425px;
  border-radius: 10px;
}

.artist-header {
  display: flex;
  align-items: center;
}

.favorite-button {
  margin-top: 0px;
  margin-left: -22px;
}

.artist-image {
  margin: 25px 18px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.artist-info {
  margin-right: 150px;
  margin-left: -10px;
  margin-top: -5px;
}

.genre-list {
  margin-left: 15px;
}


.artist-review_section {
  background-color: #525252;
  padding: 10px;
  border-radius: 10px;
  margin-left: 58px;
  margin-top: 21px;
  margin-right: 100px
}

.review-box {
  margin-bottom: 35px;
  margin-left: 5px;
  margin-right: 25px;
}

.margin-popular-tracks{
  margin-top: -15px;
  margin-bottom: 25px;
}

.most-popular-tracks{
  margin-top: 15px;
  margin-bottom: -25px
}

.artist-content {
  display: flex;
  justify-content: revert-layer;
  margin-bottom: 30px;
  margin-left: 10px;
}

.artist-tracks-albums {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
}

.albums-container-unique {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.album-list {
  width: 50%;
}
