.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #63336d;
  opacity: 0.9;
  padding-bottom: 100px;
  border-radius: 25px;
  z-index: 2;

  .feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block-start: auto;
    justify-content: space-between;
    padding: auto;
  }
  .empty-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}
