.main {
  display: column;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #442b4a99;
  opacity: 0.9;
  padding-bottom: 100px;
  border-radius: 25px;
  z-index: 2;

  .feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block-start: auto;
    justify-content: space-between;
    padding: auto;
  }

  .review-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .user-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .empty-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

body {
  background-color: black;
  color: white;
  font-family: 'Cooper Std', Helvetica, sans;
  position: relative;
  min-height: 100vh;
}

.left-column {
  flex: 1; /* Take up remaining space */
}

.right-column {
  flex: 0 0 250px; /* Fixed width */
}
