.container {
  text-align: center;

}

.card {
  background-color: transparent;
}

.card-body {
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.card-header {
  font-size: 32px;
  display: inline-block;
  position: center;
  padding: 5px 10px;
  background-color: #824d85d1; /* Adjust the opacity as needed */
  margin-bottom: 15px;
  color: rgb(255, 255, 255); /* Adjust the text color as needed */
}

//ARTISTS

.artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  color: #824d85d1;
  padding: 8px 8px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-bottom: 20px; /* Adjust the margin to create space between cards */
  margin-right: 20px; /* Adjust the margin between cards */
  width: 100%;

  .artist-image {
    border-radius: 13.5px;
    width: auto; // Maintains the image's aspect ratio
    max-width: 100%; // Ensures the image is not wider than the card
    max-height: 100%; // Ensures the image is not taller than the card
    margin: auto; // This will center the image within the card
    }

  .artist-name {
    display: block;
    clear: left; /* Clear the float */
    text-decoration: none;
    color: #824d85d1;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
}

.artist-card:last-child {
  margin-right: 0; /* Remove margin for the last card in the row */
}

.artist-card:hover {
  background-color: purple;
  border-color: white;
  color: white;
  .artist-name {
    color: white;
  }
}

// ALBUMS
.albums-container {
  text-align: center;

  .album-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px; /* Add padding to align with the rest of the content */

    .album-card {
      width: auto;
      margin-bottom: 20px;
      background-color: white;
      color: #824d85d1; /* Purple font color */
      padding: 10px;
      border-radius: 10px;
      display: flex; /* Use flexbox for two-column layout */

      .album-image {
        width: 100%;
        margin-right: 20px;
        border-radius: 13.5px;
      }

      .album-details {
        flex: 1; /* Take remaining space in the row */
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 16px;
          margin-bottom: 8px;
        }

        h2 {
          font-size: 10px;
          margin-bottom: 8px;
        }

        li {
          font-size: 6px;
          margin-bottom: 8px;
          text-decoration: none;
          text-align: left;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card-body {
  flex: 0 0 calc(10 * 10%);
  background-color: white;
  color: #824d85d1; /* Purple font color */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}


//USERS

.user-card {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.user-name {
  text-decoration: none;
}

.user-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
