<div class="suggested">
<div class="card">
<h1>Suggested Users to Follow</h1>
<div class="container">
  <div class="user-container">


<ul>
  <% User.all.each do |user| %>
    <li>
      <%= image_tag user.avatar || 'default_user_icon.jpg' %>
      <%= link_to user.name, user_profile_path(user.id) %> <br>
      <%= button_to 'Follow', followings_path(followed_user_id: user.id), method: :post %>
    </li>
  <% end %>
</ul>
 </div>
</div>
</div>
</div>
