<div class="favourite-card">
  <div class="image">
    <%= image_tag user.reviews.image %>
  </div>
  <div class="content">
    <h3><%#= favourite.title %></h3>
    <p><%#= favourite.description %></p>
  </div>
</div>
