<div class="footer">
  <div class="footer-links">
    <div class="touch-container">
    <h4>Get in touch</h4>
    <p>kluster.team@contact.com</p>
    </div>
    <div class="connect-container">
    <h4>Connect</h4>
    <p>maximiliamrojas@gmail.com</p>
    <p>giulioavalos@gmail.com</p>
    <p>gregoirecazier@gmail.com</p>
    </div>
    <div class="location-container">
    <h4>Location</h4>
    <p>Huerta Coworking</p>
    <p>Humboldt 1967, C1414 </p>
    <p>Palermo, Buenos Aires</p>
    </div>
  </div>
      <div class="footer-copyright">
    <h5>This footer is made with    <i class="fas fa-heart"></i>    by Kluster Team</h5>
  </div>
</div>
