<nav class="navbar">
    <div class="navbar-brand">
      <%= link_to "Kluster.", root_path, class: "navbar-item" %>
    </div>
      <div class="navbar-start">
      </div>
          <div class="navbar-menu">
      <div class="navbar-end">
        <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
        <% else %>
          <button class="button-purple button">
            <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
          </button>
        <% end %>
      </div>
    </div>
</nav>
