<!-- app/views/pages/home.html.erb -->
<h1>Kluster</h1>
<%= form_tag({controller: "pages", action: "search"}, method: "get") do %>
  <%= text_field_tag :query, params[:query], placeholder: "search an artist" %>
  <%= submit_tag "Search" %>
<% end %>
