.button-purple {
  background-color: rgb(204, 103, 247);
  color: white;
  border: none;
  border-radius: 5px;
}

.button-purple:hover {
  background-color: violet;
}

.button a {
  color: white;
  text-decoration: none;
}

.button a:hover {
  text-decoration: none;
  color: white;
}
