.button-purple {
  background-color: rgb(204, 103, 247);
  color: white;
  border: none;
  border-radius: 5px;

}

.button-purple:hover {
  background-color: violet;
}

.button-white {
  color: rgb(204, 103, 247);
  background-color: white;
  border: 2px solid rgb(204, 103, 247);
  border-radius: 20px;
  text-decoration: none;
}

.button-white:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(204, 103, 247);
  border: 2px solid white;

}
