.footer {
  display: flex;
  flex-direction: column;
  position: bottom;
  margin-top: 50px;

  h4 {
    margin: 0 10px;
    font-weight: bold;
  }

  p {
    margin: 0 10px;
  }

  h4:hover {
    color: #FF3DE9;
    opacity: 100%;
  }

  p:hover {
    color: #FF3DE9;
    opacity: 100%;
  }

  .footer-links {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    margin-top: 20px;
  }
  .touch-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 20px;
    opacity: 40%;
  }

  .connect-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 20px;
    opacity: 40%;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 20px;
    opacity: 40%;
  }

  .footer-copyright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: center;
    opacity: 40%;
    position: bottom;
  }
}
