.form-input {
  border: 20px solid red !important;
  border-radius: 4px !important;
  padding: 6px 12px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  margin-bottom: 10px !important;
}
