.navbar-kluster {
  justify-content: space-between;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-kluster .navbar-collapse {
  flex-grow: 0;
}

.navbar-kluster .navbar-brand img {
  width: 40px;
  height: 40px;
}

.navbar-kluster .navbar-item-dropdown {
  width: 40px;
  height: 40px;
}
