.review-card {
  background-color: #323334;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 500px;
  max-width: 500px;
  margin: 30px;

  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
  }

  .profile-info span {
    font-size: 0.9em;
    margin: 0;
    margin-top: 5px;
  }

  .profile-container .mr-2 {
    margin-right: 10px;
  }

  .review-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .review-container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    position: relative;
  }

  .user-review {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .review-rating {
    font-style: italic;
    flex-wrap: wrap;;
  }

  .review-content {
    font-style: italic;
    flex-wrap: wrap;;
  }

  .social-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .social-button button {
    background-color: #ffffff00;
    width: 20px;
    height: 20px;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
}
