.review-card {
  display: flex;
  flex-direction: column;
  background-color: #323334;
  border-radius: 12px;
  width: 500px;
  height: auto;
  max-height: 400px;
  margin: 25px;
  padding: 25px;

  .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    opacity: 80%;
    width: relative;
    height: relative;
    margin-bottom: 10px;
  }

  .profile-container:hover {
    opacity: 100%;
  }

  .user-info a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    max-height: 100px;
  }

  .user-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 80%;
  }

  .avatar img:hover {
    opacity: 100%;
  }

  .name {
    display: flex;
    flex-direction: row;
    opacity: 80%;
    text-decoration: none;
    position: left;
  }

  .name p {
    font-size: medium;
  }

  .review-container {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
  }

  .review-container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    position: relative;
    margin: 5px;
  }

  .user-review {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .review-rating {
    font-style: italic;
  }

  .review-content {
    font-style: italic;
    color: whitesmoke;
  }

  .social-button {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .like-button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 25px;
  }

  .icon a {
    background-color: #ffffff00;
    width: 20px;
    height: 20px;
    color: rgb(228, 55, 182);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }

  .cuantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: whitesmoke;
  }
}
