.review-card {
  display: flex;
  background-color: #323334;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;

  .profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .user-name {
    text-decoration: none;
    height: fit-content;
    background-color: #824d85d1;
    color: #ffffffd1;
    padding: 2px 16px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-block: auto;
    margin-left: 20px;
  }

  .profile-container:hover {
    opacity: 1;
  }

  .avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .avatar img:hover {
    opacity: 1;
  }

  .name {
    opacity: 0.8;
    font-size: medium;
  }

  .review-container {
    display: flex;
    margin-left: 15px;
  }

  .review-container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
  }

  .user-review {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-top: auto;
  }

  .review-rating,
  .review-content {
    font-style: italic;
    color: whitesmoke;
  }

  .social-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .icon a {
    background-color: transparent;
    width: 20px;
    height: 20px;
    color: rgb(228, 55, 182);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }

  .cuantity {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: whitesmoke;
  }
}

a {
  text-decoration: none;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 20px;
}
