  // suggested_users.scss
.suggested{
  // Style the header
  h1 {
    font-size: 24px;
    color: #fcfafa;
    margin-bottom: 20px;
    justify-content: center;
  }

  // Style the list column

  .card {
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  .container {
    display: flex;
    justify-content: space-between;

  }
  .user-container {
    display: flex;
    flex-direction: column;
  }

  // Style the list
  ul {
    list-style: none;
    padding: 0;
  }

  // Style list items
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Style links
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  button {
    background-color: #f0c14b00;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
}
