<<<<<<< HEAD
<% @reviews.each do |review|%>
<div class="review-card">
  <h2><%= review.content %></h2>
  <p>Rating: <%= review.rating %></p>
</div>
<% end %>
=======
<!-- app/views/reviews/_review_card.html.erb -->
<div class="review-card">
  <div class="review-content">
    <p><%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  </div>
</div>
>>>>>>> 3f24e986f8f5f237c6a0c860a6e2a174b4a46af6
